header{
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    color: rgb(12, 77, 27);
 
    

}



.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('../images/pexels-ella-olsson-1640777.jpg');
    background-size: cover;
    position: relative;
    padding: 1%;
    margin-bottom: 1%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

.searchfood {
    font-size: 16px;
    padding: 5%;
    text-align: center;
    /* background-color: rgb(44, 128, 134); */
    margin-bottom: 1%;
    
}

#search button{
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom:0.05%;
    background-color: rgb(64, 86, 20);
    color: white;
    
}
.row-1 {
    padding: 2%;
}
:hover button {
background-color: rgb(10, 81, 39);
}
.input {
    border: rgb(126, 158, 213);
    border-style:outset
}

.foodlove {
    font-size: 18px;
    text-align: center;
    background-color: rgb(48, 164, 193);
    margin-bottom: 1%;
    color: white;
    
}

.foods {
    font-size: 24px;
    text-align: center;
    background-color:rgb(126, 158, 213);
    margin-bottom: 1%;
    color: white;
    
}
.weather {
    font-size: 18px;
    text-align: center;
    background-color:rgb(149, 218, 233);
    margin-bottom: 1%;
    color: white;
}